body{
    background-color: rgb(240, 240, 240);
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 0;
    width: 640px;
    margin: auto;
    max-width: 90vw;
    font-size: 14px;
}


.mail-inner-head{
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
    padding-top: 22px;
    position: relative;
}

.head-band{
    background-color: rgb(158, 158, 158);
    color: rgba(0, 0, 0, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 10px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: calc(100% + 2px);
}

.head-band-title{
    font-size: 32px;
    font-weight: 400;
}

.head-band-docu{
    font-size: 14px;
}

.form-title{
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
    padding-top: 22px;
    position: relative;
}

.form-inner {
	position: relative;
	width: 80%;
}
.form-inner input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: black;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.input-field input[type='text']:focus {
	border-bottom: 2px solid #da3c41;
	outline: none;
}

/* .send-btn{
    padding:10px 24px;
    background-color: #aaaaaa;
    color: #fff;
    width: fit-content;
    border-radius: 5px;
    text-decoration: none;
} */